<h3>Posts</h3>
<button (click)="getAllPosts()" [disabled]="loading()">get all posts</button>
<button (click)="createPost()" [disabled]="loading()">create new post</button>
<input type="number" #input value="0" />
<button (click)="getPost(input.valueAsNumber)" [disabled]="loading()">
  get post by id
  {{ input.valueAsNumber }}
</button>
<button (click)="updatePost(input.valueAsNumber)" [disabled]="loading()">
  update post by id
</button>
<button (click)="deletePost(input.valueAsNumber)" [disabled]="loading()">
  delete post by id
</button>

@if (loading()) {
  <blockquote>Loading...</blockquote>
} @else if (error()) {
  <blockquote><strong>Error:</strong> {{ error() }}</blockquote>
} @else {
  <div style="max-height: 200px; overflow-y: auto">
    @for (post of posts(); track post.id) {
      <blockquote>
        <strong>{{ post.id }}:</strong> {{ post.title }}
      </blockquote>
    } @empty {
      <blockquote>No posts found!</blockquote>
    }
  </div>
}
